# 1. PRINT STATEMENT

In [1]:
#to print a statement 
print("Hello World!...")

Hello World!...

In [2]:
#to print my name
print("Tamilarasi S")

Tamilarasi S

In [3]:
#to print the answer for addition
print(2+3)

5

# 2. VARIABLE

Variable are used for storing purpose. Let consider "a = 2" , 'a' is the variable name and 2 is the value stored in that variable

In [4]:
a = 5           #variable 'a ' stores the value 5
print(a)        # value stored in 'a' is printed using print statement

5

In [5]:
a = 10              #variable 'a' stored the value 10
b = 5                #variable 'b' stored the value 5
print( a + b)      #the addition of a and b will printed using print statement

15

# 3. DATA TYPES

#Variables can store data of different types, and different types can do different things :-                                                        Text Type     :	str
Numeric Types :	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type  :	dict
Set Types     :	set, frozenset
Boolean Type  :	bool
Binary Types  :	bytes, bytearray, memoryview
None Type     :	NoneType

In [6]:
a = 20                  # variable 'a' stores the value 20
print(type(a))          # "type" keyword tells data type category of the mentioned variable

<class 'int'>

In [7]:
a = "Clouds"         # variable 'a' stores the word "Clouds"
print(type(a))       # "type" keyword tells data type category of the mentioned variable

<class 'str'>

# 4. OPERATORS

Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

Python Arithmetic Operators
Arithmetic operators are used with numeric values to perform common mathematical operations:

                                                                                                                           | Operator | Name           | Example    |
|----------|----------------|------------|
| +        | Addition       | x + y      |
| -        | Subtraction    | x - y      |
| *        | Multiplication | x * y      |
| /        | Division       | x / y      |
| %        | Modulus        | x % y      |
| **       | Exponentiation | x ** y     |
| //       | Floor division | x // y     |

Python Assignment Operators
Assignment operators are used to assign values to variables:                                                                                                                                                                                            | Operator | Example   | Same As      |
|----------|-----------|--------------|
| =        | x = 5     | x = 5        |
| +=       | x += 3    | x = x + 3    |
| -=       | x -= 3    | x = x - 3    |
| *=       | x *= 3    | x = x * 3    |
| /=       | x /= 3    | x = x / 3    |
| %=       | x %= 3    | x = x % 3    |
| //=      | x //= 3   | x = x // 3   |
| **=      | x **= 3   | x = x ** 3   |
| &=       | x &= 3    | x = x & 3    |
| |=       | x |= 3    | x = x | 3    |
| ^=       | x ^= 3    | x = x ^ 3    |
| >>=      | x >>= 3   | x = x >> 3   |
| <<=      | x <<= 3   | x = x << 3   |

Python Comparison Operators
Comparison operators are used to compare two values:                                                                                                                                                                                                    | Operator | Name                           | Example    |
|----------|--------------------------------|------------|
| ==       | Equal                          | x == y     |
| !=       | Not equal                      | x != y     |
| >        | Greater than                   | x > y      |
| <        | Less than                      | x < y      |
| >=       | Greater than or equal to       | x >= y     |
| <=       | Less than or equal to          | x <= y     |

Python Logical Operators
Logical operators are used to combine conditional statements:                                                                                                                                                                                            | Operator | Description                                     | Example                           |
|----------|-------------------------------------------------|-----------------------------------|
| and      | Returns True if both statements are true        | x < 5 and x < 10                  |
| or       | Returns True if one of the statements is true   | x < 5 or x < 4                    |
| not      | Reverse the result, returns False if true       | not(x < 5 and x < 10)             |

Python Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:                                                                                                                                                                                                                                | Operator | Description                                              | Example    |
|----------|----------------------------------------------------------|------------|
| is       | Returns True if both variables are the same object       | x is y     |
| is not   | Returns True if both variables are not the same object   | x is not y |

Python Membership Operators                                                                                        Membership operators are used to test if a sequence is presented in an object:                                                                                                                                                                          | Operator | Description                                                  | Example    |
|----------|--------------------------------------------------------------|------------|
| in       | Returns True if a sequence with the specified value is       | x in y     |
|          | present in the object                                        |            |
| not in   | Returns True if a sequence with the specified value is not   | x not in y |
|          | present in the object                                        |            |

Python Bitwise Operators
Bitwise operators are used to compare (binary) numbers:                                                                               
                                                                                                                            | Operator | Name                 | Description                                                 | Example    |
|----------|----------------------|------------------------------------------------------------ |------------|
| &        | AND                  | Sets each bit to 1 if both bits are 1                       | x & y      |
| ||       | OR                   | Sets each bit to 1 if one of two bits is 1                  | x || y     |
| ^        | XOR                  | Sets each bit to 1 if only one of two bits is 1             | x ^ y      |
| ~        | NOT                  | Inverts all the bits                                        | ~x         |
| <<       | Zero fill left shift | Shift left by pushing zeros in from the right               | x << 2     |
| >>       | Signed right shift   | Shift right by pushing copies of the leftmost bit           | x >> 2     |
|          |                      | in from the left, and let the rightmost bits fall off       |            |

In [8]:
a = 10
b = 20
c = a+b
print(c)

30

# 5. CASTING

In Python, casting is the process of converting a variable's data type to another data type.

In [9]:
a = int("10")     #Converting string to int
b = int("20")     #Converting string to int
c = a+b
print(c)

30

# 6. USER INPUT

In [10]:
a = input()   #to get input from user and store it as string format defaultly
print(a)

5
5

In [11]:
a = int(input("Enter the value for a:"))  #the input in string format is converted into int
b = int(input("Enter the value for b:"))  #the input in string format is converted into int
c = a + b
print(c)

Enter the value for a:5
Enter the value for b:45
50

#  SAMPLE EXAMPLES

1) Get input for variable name and age. Print it.                                                                      sample input:                                                                                                            Tamil                                                                                                                        20                                                                                                                          sample Output :                                                                                                          "My Name is: Tamil"                                                                                                         "My Age is: 20"

In [12]:
Name = input()
Age = int(input())
print("My Name is", Name)
print("My Age is", Age)

Tamil
20
My Name is Tamil
My Age is 20

2)Get input for variable name and age. Print name, age and address.                                                          sample input:                                                                                                            Tamil                                                                                                                        20                                                                                                                          sample Output :                                                                                                          "My Name is: Tamil"                                                                                                         "My Age is: 20"
"My Address is: Avadi, Chennai"

In [13]:
Name = input("Enter name:")
Age = int(input("Enter Age:"))
Address = input("Enter address")
print("My Name is", Name)
print("My Age is", Age) 
print("My Address is", Address)

Enter name:Tamil
Enter Age:20
Enter addressChennai
My Name is Tamil
My Age is 20
My Address is Chennai

3) Get integer input for variable a, b, c. Multiply all 3 variables(a*b*c) add all 3 variable (a+b+c), Divide the multiplied value by added values. Print it. Output should be in decimal value.

In [1]:
a = int(input("a = "))
b = int(input("b = "))
c = int(input("c = "))
mul = a*b*c
add = a+b+c
print(float(mul/add))

a = 5
b = 4
c = 3
5.0

4) Get input for varibale name, Score, Department. Get score for 100, and divide 100/10

In [4]:
Name = input("Enter name:")
Score = int(input("Enter Score:"))
Department = input("Enter department:")
Mark = Score/10
print("My name is", Name)
print("My Score is", Mark,"/10")
print("My department is", Department)

Enter name:Tamilarasi
Enter Score:86
Enter department:Computer Science
My name is Tamilarasi
My Score is 8.6 /10
My department is Computer Science

# 7. COMPARISION OPERATOR

In [9]:
print("win" == "win")  #comparision operator

True

In [10]:
print("win" == "winn") #comparision operator

False

# 8. IF-ELSE

In [5]:
if(True):
    print("Yes")
else:
    print("No")

Yes

In [6]:
if(False):
    print("Yes")
else:
    print("No")

No

In [11]:
weather = "Rainy"
if(weather == "Rainy"):
    print("put up the umbrella")
else:
    print("put down the umbrella")

put up the umbrella

In [12]:
weather = "Sun Shining"
if(weather == "Rainy"):
    print("put up the umbrella")
else:
    print("put down the umbrella")

put down the umbrella

In [14]:
meghna = input()
if(meghna == "Died"):
    print("Surya meets priya")
else:
    print("Surya weds meghna")

Died
Surya meets priya

# SAMPLE QUESTIONS :-

1) Get input for variable mark. if mark>35 print pass. Else print fail

In [3]:
Mark = int(input("Enter Your Mark: "))
if(Mark > 35):
    print("Pass")
else:
    print("Fail")

Enter Your Mark: 90
Pass

2) Get input for varibale income.  If income is lesser than 7000 scholarship is available.  Else not eligible for scholarship

In [7]:
Income = int(input("Enter your income: "))
if(Income > 7000):
    print("Not eligible for scholarship")
else:
    print("Scholarship is available")

Enter your income: 7600
Not eligible for scholarship

3) Get input for a number and check whether it is divisible by both 3 and 5 or not. If yes then print, the number is divisible by 3 and 5 .  Else print the number is not divisile by 3 and 5.

In [10]:
Num = int(input("Enter a number: "))
if(Num%3==0 & Num%5==0):
    print(Num," is divisible by 3 and 5")
else:
    print(Num, " is not divisible by 3 and 5")

Enter a number: 15
15  is divisible by 3 and 5

4) Get input for a number and find it is even or odd.

In [13]:
Num = int(input("Enter a number: "))
if(Num%2 == 0):
    print(Num,"is even Number")
else:
    print(Num,"is odd Number")

Enter a number: 10
10 is even Number

5) Get input for score out of 100. 
If score is < 35, then print poor student. 
If score is greater than 35 but lesser than 70, then print Average student.
If score is greater than 70, then print Good student

In [32]:
Score = int(input("Enter your Score: "))
if(Score < 35):
    print("poor student")
elif(Score>35 and Score<70):
    print("Average student")
elif(Score>70 and Score<100):
    print("Good student")
else:
    print("invalid")

Enter your Score: 95
Good student

6) Make a mini calculator
Get input for 2 numbers a and b.  Get input from user whether to   add/sub/mul/div.  If user selects add then the two number and print the result.

In [36]:
a = int(input("Enter the value for a: "))
b = int(input("Enter the value for b: "))
Action = input("Add/Sub/Mul/Div:")
if(Action == "Add"):
    print(a+b)
elif(Action == "Sub"):
    print(a-b)
elif(Action == "Mul"):
    print(a*b)
elif(Action == "Div"):
    print(a/b)
else:
    print("Invalid Action")

Enter the value for a: 10
Enter the value for b: 5
Add/Sub/Mul/Div:Div
2.0

7) Get a input for score percentage.  Only if the percentage isgreater than 70, get input for his name, department, and location.  then print you are eligible.  If not print you are not eligible.

In [38]:
Percentage = int(input("Enter your scored percentage: "))
if(Percentage > 70):
    Name = input("Enter Your name: ")
    Dept = input("Enter Your Department: ")
    Loc = input("Enter Your Location: ")
    print("You are eligible")
else:
    print("You are not eligible")

Enter your scored percentage: 80
Enter Your name: Tamilarasi
Enter Your Department: CSE
Enter Your Location: Chennai
You are eligible

8) Get input for salary and age.

if salary greater than or equal to 20000 or age less than or equal to 25, get input for required loan amount.  If not print you are not eligible for loan.

If required loan amount is less than or equal to 50,000 print. You are eligible for loan.  If it is greater than 50,000 print maximum loan amount is 50000

In [4]:
salary = int(input("Enter your salary: "))
age = int(input("Enter your age: "))
if(salary >= 20000 or age<= 25):
    loan = int(input("Enter your loan amount: "))
    if(loan<= 50000):
        print("You are eligible for loan")
    else:
        print("Maximum loan amount is 50000")
else:
    print("You are not eligible for loan")

Enter your salary: 2000
Enter your age: 21
Enter your loan amount: 4000
You are eligible for loan

9) Get input for five subject marks. Add all of it, And find average.  If average mark is less than 35.  Print "Additional class is required" else print "You are good to go"

In [6]:
Maths = int(input("Enter maths mark: "))
Social = int(input("Enter social mark: "))
English = int(input("Enter English mark: "))
Science = int(input("Enter Science mark: "))
Computer = int(input("Enter Computer mark: "))
Total = Maths + Social + English + Science + Computer
Avg = Total/5
if(Avg < 35):
    print("Additional class is required")
else:
    print("You are good to go")

Enter maths mark: 10
Enter social mark: 20
Enter English mark: 40
Enter Science mark: 30
Enter Computer mark: 10
Additional class is required

# 9. FOR LOOP

In [1]:
for i in "Apple":
    print(i)

A
p
p
l
e

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
for i in range(5, 20):
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

1. Print 2 table using For loop

In [13]:
for i in range(1,11):
    table = i * 2
    print("2 *", i, " = ", table)

2 * 1  =  2
2 * 2  =  4
2 * 3  =  6
2 * 4  =  8
2 * 5  =  10
2 * 6  =  12
2 * 7  =  14
2 * 8  =  16
2 * 9  =  18
2 * 10  =  20

2. print 3 tables using For loop

In [17]:
for i in range(1, 21):
    print("3 X", i , "=", i*3)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
3 X 11 = 33
3 X 12 = 36
3 X 13 = 39
3 X 14 = 42
3 X 15 = 45
3 X 16 = 48
3 X 17 = 51
3 X 18 = 54
3 X 19 = 57
3 X 20 = 60

#SAMPLE QUESTIONS

1. Get input for number a and b. Print the number between a and b

sample input:-
8
15

sample output:-
9
10
11
12
13
14

In [2]:
a = int(input(" Enter a:"))
b = int(input(" Enter b:"))
for i in range(a+1, b):
    print(i)

 Enter a:8
 Enter b:15
9
10
11
12
13
14

2. Print even number between 1 to 10.

sample input:-
2,4,6,8,10

In [16]:

for i in range(1, 11):
    if(i%2==0):
        print(i)

2
4
6
8
10

3. Count the number of odd numbers between 1 to 10

Sample Output:-
5

In [21]:
Count = 0
for i in range(1,11):
    if(i%2!=0):
        Count = Count+1
print(Count)

5

4.  Count the number of odd and even numbers between 1 to 10 and print it

Sample Output:-
Even: 5
Odd: 5

In [22]:
EvenCount = 0
OddCount = 0
for i in range(1, 11):
    if(i%2==0):
        EvenCount = EvenCount + 1
    else:
        OddCount = OddCount + 1
print("Even:", EvenCount, "Odd:", OddCount)

Even: 5 Odd: 5

5.  Count the number which are divisible by 3 and 4. Range 1-100

In [24]:
Count = 0
for i in range(1, 101):
    if(i%3==0 and i%4==0):
        Count = Count + 1
print("The Count of number which are divisible by 3 and 4 betweeen 1 and 100 is:", Count)

The Count of number which are divisible by 3 and 4 betweeen 1 and 100 is: 8

6.  Write a program to compute the sum of the first 5 natural numbers

In [28]:
n = 0
for i in range(1,6):
    n = n + i
print("The Sum of first 5 natural numbers is:",n)

The Sum of first 5 natural numbers is: 15

# 10. FOR LOOP WITH LIST

In [38]:
a = [1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [39]:
a = []
a.append(3)
a.append(4)
a.append(10)
print(a)

[3, 4, 10]

In [40]:
a = []
a.append(3)
a.append(4)
b = int(input("b ="))
a.append(b)
print(a)

b =25
[3, 4, 25]

In [45]:
a =[]
for i in range(10):
    n = int(input())
    a.append(n)
print(a)

1
2
3
4
5
6
7
8
9
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

7.  Wrtie a program to read 10 numbers from the keyboard and find their sum and average

In [5]:
a = []
for i in range(10):
    num = int(input())
    a.append(num)
print(a)  


s = 0
for i in a:
    s = s+i 
print("Sum is",s)
print("Average is", s/10)

10
20
30
40
50
60
70
80
90
100
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Sum is 550
Average is 55.0

8.  Write a program to display n terms of natural numbers and their sum 

Test data:
7

Expected output:
The first 7 natural number is:
1 2 3 4 5 6 7

In [35]:
n = int(input("Enter value: "))
s = 0
for i in range(1, n+1):
    s = s + i
    print("The first", n, "natural number is:", i)
print("The sum is", s)

Enter value: 7
The first 7 natural number is: 1
The first 7 natural number is: 2
The first 7 natural number is: 3
The first 7 natural number is: 4
The first 7 natural number is: 5
The first 7 natural number is: 6
The first 7 natural number is: 7
The sum is 28

9.  Write a program to display the cube of the numbers up to an integer.

Test data:
Input number of terms: 5

Expected Output:
Number is: 1 and cube of the 1 is: 1
Number is: 2 and cube of the 2 is: 8
Number is: 3 and cube of the 3 is: 27
Number is: 4 and cube of the 4 is: 64
Number is: 5 and cube of the 5 is: 125

10.  Write a program to display a pattern like a right angle triangle using an asterisk.

The pattern like:
'*'
'**'
'***'
'****'
'*****'