# 1. PRINT STATEMENT

In [1]:
#to print a statement 
print("Hello World!...")

Hello World!...

In [2]:
#to print my name
print("Tamilarasi S")

Tamilarasi S

In [3]:
#to print the answer for addition
print(2+3)

5

# 2. VARIABLE

Variable are used for storing purpose. Let consider "a = 2" , 'a' is the variable name and 2 is the value stored in that variable

In [4]:
a = 5           #variable 'a ' stores the value 5
print(a)        # value stored in 'a' is printed using print statement

5

In [5]:
a = 10              #variable 'a' stored the value 10
b = 5                #variable 'b' stored the value 5
print( a + b)      #the addition of a and b will printed using print statement

15

# 3. DATA TYPES

#Variables can store data of different types, and different types can do different things :-                                                        Text Type     :	str
Numeric Types :	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type  :	dict
Set Types     :	set, frozenset
Boolean Type  :	bool
Binary Types  :	bytes, bytearray, memoryview
None Type     :	NoneType

In [6]:
a = 20                  # variable 'a' stores the value 20
print(type(a))          # "type" keyword tells data type category of the mentioned variable

<class 'int'>

In [7]:
a = "Clouds"         # variable 'a' stores the word "Clouds"
print(type(a))       # "type" keyword tells data type category of the mentioned variable

<class 'str'>

# 4. OPERATORS

Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

Python Arithmetic Operators
Arithmetic operators are used with numeric values to perform common mathematical operations:

                                                                                                                           | Operator | Name           | Example    |
|----------|----------------|------------|
| +        | Addition       | x + y      |
| -        | Subtraction    | x - y      |
| *        | Multiplication | x * y      |
| /        | Division       | x / y      |
| %        | Modulus        | x % y      |
| **       | Exponentiation | x ** y     |
| //       | Floor division | x // y     |

Python Assignment Operators
Assignment operators are used to assign values to variables:                                                                                                                                                                                            | Operator | Example   | Same As      |
|----------|-----------|--------------|
| =        | x = 5     | x = 5        |
| +=       | x += 3    | x = x + 3    |
| -=       | x -= 3    | x = x - 3    |
| *=       | x *= 3    | x = x * 3    |
| /=       | x /= 3    | x = x / 3    |
| %=       | x %= 3    | x = x % 3    |
| //=      | x //= 3   | x = x // 3   |
| **=      | x **= 3   | x = x ** 3   |
| &=       | x &= 3    | x = x & 3    |
| |=       | x |= 3    | x = x | 3    |
| ^=       | x ^= 3    | x = x ^ 3    |
| >>=      | x >>= 3   | x = x >> 3   |
| <<=      | x <<= 3   | x = x << 3   |

Python Comparison Operators
Comparison operators are used to compare two values:                                                                                                                                                                                                    | Operator | Name                           | Example    |
|----------|--------------------------------|------------|
| ==       | Equal                          | x == y     |
| !=       | Not equal                      | x != y     |
| >        | Greater than                   | x > y      |
| <        | Less than                      | x < y      |
| >=       | Greater than or equal to       | x >= y     |
| <=       | Less than or equal to          | x <= y     |

Python Logical Operators
Logical operators are used to combine conditional statements:                                                                                                                                                                                            | Operator | Description                                     | Example                           |
|----------|-------------------------------------------------|-----------------------------------|
| and      | Returns True if both statements are true        | x < 5 and x < 10                  |
| or       | Returns True if one of the statements is true   | x < 5 or x < 4                    |
| not      | Reverse the result, returns False if true       | not(x < 5 and x < 10)             |

Python Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:                                                                                                                                                                                                                                | Operator | Description                                              | Example    |
|----------|----------------------------------------------------------|------------|
| is       | Returns True if both variables are the same object       | x is y     |
| is not   | Returns True if both variables are not the same object   | x is not y |

Python Membership Operators                                                                                        Membership operators are used to test if a sequence is presented in an object:                                                                                                                                                                          | Operator | Description                                                  | Example    |
|----------|--------------------------------------------------------------|------------|
| in       | Returns True if a sequence with the specified value is       | x in y     |
|          | present in the object                                        |            |
| not in   | Returns True if a sequence with the specified value is not   | x not in y |
|          | present in the object                                        |            |

Python Bitwise Operators
Bitwise operators are used to compare (binary) numbers:                                                                               
                                                                                                                            | Operator | Name                 | Description                                                 | Example    |
|----------|----------------------|------------------------------------------------------------ |------------|
| &        | AND                  | Sets each bit to 1 if both bits are 1                       | x & y      |
| ||       | OR                   | Sets each bit to 1 if one of two bits is 1                  | x || y     |
| ^        | XOR                  | Sets each bit to 1 if only one of two bits is 1             | x ^ y      |
| ~        | NOT                  | Inverts all the bits                                        | ~x         |
| <<       | Zero fill left shift | Shift left by pushing zeros in from the right               | x << 2     |
| >>       | Signed right shift   | Shift right by pushing copies of the leftmost bit           | x >> 2     |
|          |                      | in from the left, and let the rightmost bits fall off       |            |

In [8]:
a = 10
b = 20
c = a+b
print(c)

30

# 5. CASTING

In Python, casting is the process of converting a variable's data type to another data type.

In [9]:
a = int("10")     #Converting string to int
b = int("20")     #Converting string to int
c = a+b
print(c)

30

# 6. USER INPUT

In [10]:
a = input()   #to get input from user and store it as string format defaultly
print(a)

5
5

In [11]:
a = int(input("Enter the value for a:"))  #the input in string format is converted into int
b = int(input("Enter the value for b:"))  #the input in string format is converted into int
c = a + b
print(c)

Enter the value for a:5
Enter the value for b:45
50

#  SAMPLE EXAMPLES

1) Get input for variable name and age. Print it.                                                                      sample input:                                                                                                            Tamil                                                                                                                        20                                                                                                                          sample Output :                                                                                                          "My Name is: Tamil"                                                                                                         "My Age is: 20"

In [12]:
Name = input()
Age = int(input())
print("My Name is", Name)
print("My Age is", Age)

Tamil
20
My Name is Tamil
My Age is 20

2)Get input for variable name and age. Print name, age and address.                                                          sample input:                                                                                                            Tamil                                                                                                                        20                                                                                                                          sample Output :                                                                                                          "My Name is: Tamil"                                                                                                         "My Age is: 20"
"My Address is: Avadi, Chennai"

In [13]:
Name = input("Enter name:")
Age = int(input("Enter Age:"))
Address = input("Enter address")
print("My Name is", Name)
print("My Age is", Age) 
print("My Address is", Address)

Enter name:Tamil
Enter Age:20
Enter addressChennai
My Name is Tamil
My Age is 20
My Address is Chennai

3) Get integer input for variable a, b, c. Multiply all 3 variables(a*b*c) add all 3 variable (a+b+c), Divide the multiplied value by added values. Print it. Output should be in decimal value.

In [1]:
a = int(input("a = "))
b = int(input("b = "))
c = int(input("c = "))
mul = a*b*c
add = a+b+c
print(float(mul/add))

a = 5
b = 4
c = 3
5.0

4) Get input for varibale name, Score, Department. Get score for 100, and divide 100/10

In [4]:
Name = input("Enter name:")
Score = int(input("Enter Score:"))
Department = input("Enter department:")
Mark = Score/10
print("My name is", Name)
print("My Score is", Mark,"/10")
print("My department is", Department)

Enter name:Tamilarasi
Enter Score:86
Enter department:Computer Science
My name is Tamilarasi
My Score is 8.6 /10
My department is Computer Science

# 7. COMPARISION OPERATOR

In [9]:
print("win" == "win")  #comparision operator

True

In [10]:
print("win" == "winn") #comparision operator

False

# 8. IF-ELSE

In [5]:
if(True):
    print("Yes")
else:
    print("No")

Yes

In [6]:
if(False):
    print("Yes")
else:
    print("No")

No

In [11]:
weather = "Rainy"
if(weather == "Rainy"):
    print("put up the umbrella")
else:
    print("put down the umbrella")

put up the umbrella

In [12]:
weather = "Sun Shining"
if(weather == "Rainy"):
    print("put up the umbrella")
else:
    print("put down the umbrella")

put down the umbrella

In [14]:
meghna = input()
if(meghna == "Died"):
    print("Surya meets priya")
else:
    print("Surya weds meghna")

Died
Surya meets priya